@{
    ViewData["Title"] = "About Me";
}

<h1>@ViewData["Title"]</h1>

<div class="text-left";">
    <p id="dateTime"></p>
    <p>Hi, I'm James. </p>
    <p>I'm 29-years-old (big 3-0 this July!), married (August 2019), and live in Connor near the town of Ballymena in Northern Ireland.</p>
    <img src="~/lib/images/me_emma.jpg" height="400" width="500" />
</div>
<div class="card" style="width: 15rem;">
    <img class="card-img-top" src="~/lib/images/GitHub-Mark-120px-plus.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">GitHub</h5>
        <p class="card-text">Visit my GitHub profile to have a look at my repositories.</p>
        <a href="https://github.com/jamesmcc90" target="_blank" class="glyphicon glyphicon-chevron-right">Click Here</a>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>