@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to my ASP.NET MVC site. This is simply to give me more experience of MVC.</a>.</p>
   
</div>
