@{
    ViewData["Title"] = "Login (WIP)";
}
<h1>@ViewData["Title"]</h1>

<p>Enter your username and password to log in. (testing/work in progress)</p>


<div class="row">
   <form>

   </form>
 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}