
@{
    ViewData["Title"] = "Test Arena";

    //var db = Database.Open("JamesMVC");
    var query = "SELECT * FROM Film";
}


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model James_MVC.Models.ContactFormModel


<style>
</style>
<h1>Test Arena</h1>
<div>
    <p>Some stuff to play around with...</p>
    

</div>

