
@{
    ViewData["Title"] = "Test Arena";

    //var db = Database.Open("JamesMVC");
    var query = "SELECT * FROM Film";
}


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model James_MVC.Models.ContactFormModel

<style>
</style>
<h1>Test Arena</h1>
<div>
    <p>Some stuff to play around with...</p>
    <p>
        Click <a href="http://127.0.0.1:8080/">here</a> for some Node.js (currently playing around with on localhost).</p>

    <p>Based off <a href="https://nodejs.org/en/docs/guides/getting-started-guide/" target="_blank">Node.js.</a></p>

    <img src="~/lib/images/node_testing.jpg" width="600" height="400" />
    <img src="~/lib/images/node pic.jpg" width="600" height="400" style="float:left;"/>
</div>

